@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.footer {
	background-color: #DCDCDC;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 80px;
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
}
.zag {
	font-size: 30px;
	font-weight: 600;
	color: #177D85;
	margin-bottom: 20px;
}
.media {
	width: 70%;
	display: flex;
	justify-content: space-between;
	padding-left: 15%;
}
.simpletext {
	font-size: 25px;
}
.smalltext {
	font-size: 19px;
	max-width: 100%;
}
.line {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
.line img {
	margin-right: 40px;
}
.line:hover {
	transform: translate(15px);
	transition: 0.5s;
}
.inlineElements {
	display: flex;
	justify-content: space-between;
}
.col {
	width: 23%;
}
.special_align {
	text-align: center;
}
.col_adapt {
	display: none;
}
.logofooter {
	margin-bottom: 20px;
	max-width: 100%;
}
.indent_vertical {
	padding-top: 30px;
	padding-bottom: 40px;
}
.indent_horisontal {
	margin-left: 30px;
}
.inliner {
	display: flex;
}
.width50 {
	width: 50%;
}
.width100 {
	width: 100%;
}
@media screen and (max-width: 1100px) {
	.footer {
		padding-top: 50px;
	}

	.not_adapt {
		display: none;
	}
	.col{
		width: 30%;
	}
	.col_adapt {
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin-left: 10%;
	}
	.block {
		display: block;
		width: 30%;
	}
	.indent_horisontal {
		margin-left: 0px;
	}
	.media {
		width: 100%;
		padding-left: 0;
	}
	.zag {
		font-size: 20px;
	}
	.simpletext {
		font-size: 18px;
	}
	.smalltext {
		font-size: 16px;
	}
	.logofooter {
		margin-bottom: 0;
		max-width: 60%;
	}
	.width50 {
		width: 65%;
	}

	.line img {
		margin-right: 90px;
	}

}
@media screen and (max-width: 840px) {
	.line img {
		margin-right: 40px;
	}
}
@media screen and (max-width: 670px) {
	.footer {
		padding-top: 20px;
	}
	.block {
		display: none;
	}
	.logofooter {
		margin-left: 20%;
	}
	.inlineElements{
		display: block;
	}
	.inliner {
		display: flex;
		justify-content: space-between;
	}
	.col {
		width: 40%;
		padding-top: 30px;
	}
	.step {
		margin-left: 30%;
		margin-top: 20px;
	}
	.not_adapt {
		display: block;
		margin-left: 30%;
	}
	#logofooter{
		display: none;
	}
	.width50 {
		width: 100%;
	}
	.indent {
		margin-left: 10%;
	}
	.indent_vertical {
		padding-top: 10px;
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 500px) {
	.zag {
		font-size: 18px;
	}
	.simpletext {
		font-size: 16px;
	}
	.smalltext {
		font-size: 14px;
	}
	.not_adapt {
		padding-top: 10px;
	}
	.step {
		margin-top: 0;
	}
}
@media screen and (max-width: 440px) {
	.zag {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.simpletext {
		font-size: 14px;
	}
	.smalltext {
		font-size: 12px;
	}
	.line img {
		margin-right: 0;
		max-width: 5%;
	}
	.media {
		width: 70%;
		margin-left: 15%;
	}
	.not_adapt {
		margin-left: 0;
		text-align: center;
		width: 100%;
		padding-top: 0;
	}
}