@media screen and (max-width: 1041px) {
  .header .menu {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 30px 60px;
  }
  .header .logo img {
    width: 140px;
  }
  .header .menu .navbar {
    margin: 0 30px;
  }
}
@media screen and (max-width: 875px) {
  .header {
    padding: 30px 50px;
  }
  .header .menu {
    font-size: 16px;
  }
  .header .menu .navbar {
    margin: 0 15px;
  }
  .header .menu .btn-book-room a {
    padding: 17px 20px;
  }
}
@media screen and (max-width: 730px) {
  .header {
    padding: 30px 30px;
  }
  .header .logo img {
    width: 120px;
  }
  .header .menu {
    font-size: 15px;
  }
}
@media screen and (max-width: 650px) {
  .header .logo img {
    width: 115px;
  }
  .header .menu .navbar {
    margin: 0 10px;
  }
  .header .menu .btn-book-room a {
    padding: 17px 15px;
  }
  .header .menu .btn-book-room a span {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header {
    padding: 30px 30px;
    z-index: 10;
    position: relative;
  }
  .header .logo img {
    width: 150px;
  }
  .header .burger {
    opacity: 1;
    top: 39px;
    right: 30px;
  }
  .header .menu {
    box-sizing: border-box;
    padding: 30px;
    position: fixed;
    top: -500px;
    left: 0;
    margin: 0;
    max-width: 576px;
    height: 20%;
    background-color: #284a63;
    flex-direction: column;
    justify-content: unset;
  }
  .header .menu .navbar {
    flex-direction: column;
    padding-bottom: 60px;
  }
  .header .menu .navbar span {
    display: none;
  }
  .header .menu .navbar div {
    padding: 20px 0;
    text-align: center;
  }
  .header .menu .navbar div a {
    font-size: 25px;
  }
  .header .menu .btn-book-room a {
    font-size: 20px;
    padding: 17px 25px;
  }
  .header .menu .btn-book-room a span {
    display: inline;
  }
}
@media screen and (max-width: 400px) {
  .header {
    height: 66px;
  }
  .header .logo img {
    width: 120px;
  }
  .header .burger {
    top: 42px;
    width: 30px;
    height: 40px;
    right: 44px;
  }
  .header .menu .navbar div a {
    font-size: 22px;
  }
  .header .menu .btn-book-room a {
    font-size: 18px;
    padding: 17px 20px;
  }
}
