* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  background-color: #284a63;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 100px;
  display: flex;
}
.header .burger {
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px;
  height: 45px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header .burger .first,
.header .burger .second,
.header .burger .third,
.header .burger .fourth {
  width: 2px;
  position: absolute;
  height: 100%;
  background-color: white;
  display: block;
  transition: 0.3s;
}
.header .burger .first {
  height: 50%;
  bottom: 0;
  animation: first-animation-back 1s ease normal backwards;
}
.header .burger .first.active {
  animation: first-animation 1s ease normal forwards;
  top: -10px;
  left: 10px;
}
.header .burger .second {
  left: 11px;
  animation: second-animation-back 1s ease normal backwards;
}
.header .burger .second.active {
  animation: second-animation 1s ease normal forwards;
  left: 21px;
  top: -10px;
}
.header .burger .third {
  left: 21px;
  height: 80%;
  bottom: 0;
  animation: third-animation-back 1s ease normal backwards;
}
.header .burger .third.active {
  animation: third-animation 1s ease normal forwards;
  left: 17px;
  top: 6px;
}
.header .burger .fourth {
  height: 30%;
  bottom: 0;
  left: 31px;
  animation: fourth-animation-back 1s ease normal backwards;
}
.header .burger .fourth.active {
  animation: fourth-animation 1s ease normal forwards;
  left: 6px;
  top: 29px;
}
@keyframes first-animation-back {
  0% {
    top: -10px;
    left: 10px;
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    left: 50%;
    top: 40%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes first-animation {
  0% {
    bottom: 0;
  }
  25% {
    left: 50%;
    top: 40%;
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    top: -10px;
    left: 10px;
    transform: rotate(90deg);
  }
}
@keyframes second-animation {
  0% {
    left: 11px;
  }
  25% {
    left: 50%;
    top: 15%;
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    left: 21px;
    top: -10px;
    transform: rotate(90deg);
  }
}
@keyframes second-animation-back {
  0% {
    left: 21px;
    top: -10px;
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    left: 50%;
    top: 15%;
  }
  100% {
    left: 11px;
  }
}
@keyframes third-animation {
  0% {
    left: 21px;
    bottom: 0;
  }
  25% {
    left: 50%;
    top: 26%;
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    left: 17px;
    top: 6px;
    transform: rotate(90deg);
  }
}
@keyframes third-animation-back {
  0% {
    left: 17px;
    top: 6px;
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    left: 50%;
    top: 26%;
  }
  100% {
    left: 21px;
    bottom: 0;
  }
}
@keyframes fourth-animation {
  0% {
    left: 31px;
    bottom: 0;
  }
  25% {
    left: 50%;
    top: 50%;
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    left: 6px;
    top: 29px;
    transform: rotate(90deg);
  }
}
@keyframes fourth-animation-back {
  0% {
    left: 6px;
    top: 29px;
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 31px;
    bottom: 0;
  }
}
.header .menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s ease;
  font-size: 21px;
}
.header .menu a {
  font-weight: 500;
}
.header .menu .navbar {
  display: flex;
  margin: 0 40px;
}
.header .menu .navbar span {
  color: white;
}
.header .menu .navbar div {
  padding: 0 10px;
}
.header .menu .navbar div a {
  text-decoration: none;
  color: white;
  transition: all 0.6s ease;
}
.header .menu .navbar div a:hover {
  display: block;
  transform: translateY(-5px);
}
.header .menu .btn-book-room a {
  text-decoration: none;
  padding: 17px 35px;
  background-color: white;
  color: #353535;
  transition: all 0.6s;
}
.header .menu .btn-book-room a:hover {
  color: white;
  background-color: #177d85;
  box-shadow: 0px 0px 22px 2px rgba(7, 58, 61, 0.699);
}
.header .menu.animate {
  transform: translateY(626px);
  left: 0px;
}
