* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.rooms, .rooms-grid, .room, .room-title a {
  color: #177D85;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #c4c4c4;
}
.main-screen {
  background-image: url(../img/rooms_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 590px;
  padding: 100px;
}
.main-screen h1 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 65px;
  color: white;
  position: relative;
  text-align: center;
  padding-top: 35px;
}
.main-screen h1 img {
  display: none;
}
.main-screen h1:before {
  content: url(../img/white_left.png);
  position: relative;
  right: -10px;
  bottom: 1px;
}
.main-screen h1:after {
  content: url(../img/white_right.png);
  position: relative;
  left: -6px;
  bottom: 1px;
}
.main-screen .book-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 163px;
}
.main-screen .book-form .dates {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.main-screen .book-form .dates div {
  width: 48%;
}
.main-screen .book-form .dates div label {
  font-size: 30px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}
.main-screen .book-form .dates div input {
  margin-top: 15px;
  border: 3px solid #177d85;
  color: #177d85;
  font-size: 30px;
  font-weight: 400;
  padding: 10px 22px;
  width: 100%;
  box-sizing: border-box;
}
.main-screen .book-form .search-guests {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.main-screen .book-form .search-guests div {
  margin-right: 35px;
  width: 48%;
}
.main-screen .book-form .search-guests div label {
  font-size: 30px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}
.main-screen .book-form .search-guests div input[type="text"] {
  margin-top: 15px;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #177d85;
  color: #177d85;
  font-size: 30px;
  font-weight: 400;
  padding: 10px 22px;
}
.main-screen .book-form .search-guests .submit {
  width: 40%;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: 700;
  height: 58px;
  background: url(../img/search_arrow.png) #177d85 no-repeat 85% 50%;
  padding-right: 52px;
}
.rooms {
  padding: 100px 100px 50px;
}
.rooms h1 {
  font-weight: 700;
  font-size: 70px;
  color: #353535;
  text-align: center;
}
.rooms h1 img {
  display: none;
}
.rooms h1:before {
  content: url(../img/room_tr_left.png);
  position: relative;
  left: 12px;
}
.rooms h1:after {
  content: url(../img/room_tr_right.png);
  position: relative;
  right: 12px;
}
.rooms .rooms-grid {
  margin-top: 50px;
  display: grid;
  column-gap: 35px;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.rooms .rooms-grid .room {
  max-width: 100%;
}
.rooms .rooms-grid .room .room-img img {
  width: 100%;
}
.rooms .rooms-grid .room .room-title {
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 700;
  color: #177d85;
  text-align: center;
  margin-bottom: 15px;
}
.rooms .rooms-grid .room .room-params {
  display: flex;
  justify-content: space-around;
  color: #353535;
  font-size: 30px;
  font-weight: 700;
}
.rooms .rooms-grid .room .room-params .room-person,
.rooms .rooms-grid .room .room-params .room-area {
  display: flex;
  align-items: center;
}
.rooms .rooms-grid .room .room-params .room-person img,
.rooms .rooms-grid .room .room-params .room-area img {
  display: block;
  margin-right: 20px;
}
.rooms .rooms-grid .room .room-price {
  text-align: center;
  max-width: 142px;
  margin: 30px auto 0px;
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding: 18px 32px;
  background-color: #177d85;
}
.arrow-up {
  text-align: center;
  padding: 50px 0;
}
