@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.first_screen {
	background-image: url('../img/1st_screen_room_info.png');
	height: 760px;
	background-size: cover;
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
}
.name {
	display: flex;
	font-size: 50px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0 auto;
	position: relative;
	top: 150px;
	width: 50%;
	text-align: center;
}
.date {
	position: relative;
	top: 180px;
}
.first_text {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	margin-bottom: 100px;
}

.input_1st_screen {
	display: flex;
	width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}
.input_1st_screen div {
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	width: 45%;
	padding: 20px 25px;
}
.detail {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #177D85;
	transition: 0.5s;
}
.detail a {
	color: #FFFFFF;
}
.detail:hover {
	transition: 0.5s;
	transform: scale(1.1);
}
.book {
	color: #177D85;
	background-color: #FFFFFF;
	font-weight: bold;
	margin-left: 100px;
	transition: 0.5s;
}
.book a {
	color: #177D85;
}
.book:hover {
	transition: 0.5s;
	transform: scale(1.1);
}
.main_frame {
	background-color: #353535;
	padding-top: 75px;
}
.zagolovok1 {
	font-size: 45px;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom: 40px;
	text-align: center;
}
.zagolovok1 img {
      position: relative;
      top: 3px;
}
.transform {
	transform: scale(-1, 1);
}
.characteristics {
	display: flex;
	margin-bottom: 75px;
}
.square1 {
  	position: relative;
  	display: block;
  	background-color: #177D85;
  	width: 34%;
}
.square1:after {
  	content: '';
  	display: block;
  	padding-top: 100%;
}
.square2 {
  	position: relative;
  	display: block;
  	background-color: #D9D9D9;
  	width: 34%;
}
.square2:after {
  	content: '';
  	display: block;
  	padding-top: 100%;
}
.content_square {
    text-align: center;
    align-items: center;
  	position: absolute;
    top: 0;
  	left: 0;
  	width: 100%;
  	height: 80%;
  	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}
.content_square img {
	height: 21%;
}
.square1_text {
	color: #FFFFFF;
	font-size: 36px;
	margin: 0 0 15%;
}
.square1_numbers {
	color: #FFFFFF;
	font-size: 80px;
	font-weight: bold;
	margin-top: 15%;
}
.square1_numbers sup{
	font-size: 50px;
}
.square2_text {
	color: #393939;
	font-size: 36px;
	margin: 0 0 15%;
}
.square2_numbers {
	color: #393939;
	font-size: 80px;
	font-weight: bold;
	margin-top: 15%;
}

.complectation{
	background-color: #FFFFFF;
	color: #177D85;
	font-size: 30px;
	width: 1000px;
	padding: 10px 0 10px 130px;
	position: absolute;
	z-index: 2;
}
.back {
	width: 1130px;
	height: 714px;
	background-color: #177D85;
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 1;
	margin-bottom: 125px;
}
li {
    list-style: none; 
    text-indent: -1em; 
    margin: 10px 0px ;
}
li::before {
    content: '\25ba'; 
    padding-right: 5px; 
    color: #177D85; 
}
.simple_text {
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 50px;
}
.line {
	display: flex;
	align-items: center; 
	margin-left: 6%;
	margin-right: 6%;
	margin-top: -4px;
}
.text_line {
	font-size: 45px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 50px;
}
.name_line {
	width: 50%;
	text-align: center;
}
.image_line {
	width: 50%;
}
.image_line img{
	width: 100%;
}
.price {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	color: #FFFFFF;
	font-size: 50px;
	font-weight: bold;
	width: 40%;
	padding: 75px 30%;
}
.cost {
	padding: 20px 70px;
	background-color: #177D85;
}
.row {
	display: flex;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 600;
	padding-left: 6%;
	padding-right: 6%;
	justify-content: space-between;
	padding-bottom: 50px;
}
.single_input {
	display: block;
	width: 44%;
}
.single_input p{
	margin-bottom: 15px;
}
.input{
	color: #177D85;
	font-size: 30px;
	padding: 10px 40px;
	border: 4px solid #177D85;
	width: -moz-fill-available;
	width: -webkit-fill-available;
}
.period {
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
}

.single_input_inline {
	display: flex;
	text-align: right;
	align-items: center;
	width: 44%;
}
.single_input_inline p{
	text-align: right;
}
.input_inline {
	width: 100%;
	color: #177D85;
	font-size: 30px;
	padding: 10px 40px;
	border: 4px solid #177D85;
	margin-left: 20px;
}
.check_line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 44%;
	transform: translate(-50%, -50%);
}
input[type="checkbox"] {
	position: relative;
	width: 80px;
	height: 40px;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	background: #C4C4C4;
	border-radius: 20px;
	transition: .5s;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);

}
input:checked[type="checkbox"] {
	background: #177D85;
}
input[type="checkbox"]:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	top: 0;
	left: 0;
	background: #FFFFFF;
	border: 5px solid #177D85;
	transition: .5s;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
input:checked[type="checkbox"]:before {
	left: 40px;
	background: #177D85;
	border: 5px solid #FFFFFF;
}
.special_row {
	display: flex;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 600;
	padding-left: 6%;
	padding-right: 6%;
	justify-content: space-between;
	padding-bottom: 50px;
}
.button {
	color: #FFFFFF;
	background-color: #177D85;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding: 30px 60px;
	border: 0;
	width: 40%;
	margin-left: 30%;
	margin-top: 50px;
	margin-bottom: 100px;
	transition: 1s;
}
.button:hover {
	color: #177D85;
	background-color: #FFFFFF;
	transform: scale(1.1);
	transition: 1s;
}
.left {
	margin-left: 10%;
	text-align: left;
}

@media screen and (max-width: 1500px) {
	.square1_numbers {
		font-size: 55px;
	}
	.square2_numbers {
		font-size: 55px;
	}
	.input_inline {
    	padding: 10px 20px;
	}
}

@media screen and (max-width: 1400px) {
	.square1_numbers {
		font-size: 40px;
	}
	.square1_numbers sup{
		font-size: 30px;
	}
	.square2_numbers {
		font-size: 40px;
	}
	.square1_text {
		font-size: 26px;
	}
	.square2_text {
		font-size: 26px;
	}
	.square1 img {
		width: 17%;
	}
	.square2 img {
		width: 22%;
	}
}

@media screen and (max-width: 1300px) {
	.complectation {
		font-size: 26px;
		width: 850px;
	}
	.back {
		width: 980px;
		height: 640px;
	}
	.simple_text {
		font-size: 30px;
	}
	.text_line {
		font-size: 40px;
	}
	.row {
		font-size: 30px;
	}
	.special_row {
		font-size: 30px;
	}
	.period {
		font-size: 30px;
	}
	.input_inline {
		font-size: 24px;
	}
	.input_1st_screen {
		font-size: 24px;
	}
	.button {
		font-size: 36px;
		width: 50%;
		margin-left: 25%;
	}
	.input_1st_screen {
		width: 75%;
	    margin: 0 auto;
	    justify-content: space-between;
	}
}
@media screen and (max-width: 1175px) {
	.zagolovok1 {
		font-size: 36px;
	}
	.zagolovok1 img {
		width: 3%;
	}
	.complectation {
		font-size: 22px;
		width: 700px;
    	padding: 10px 0 10px 100px;
	}
	.back {
		width: 800px;
		height: 575px;
	}
	.simple_text {
		font-size: 22px;
	}
	.text_line {
		font-size: 30px;
	}
	.name_line img{
		max-width: 20%;
	}
	.price {
	    font-size: 36px;
	    width: 40%;
	    padding: 75px 30%;
	}
	.row {
		font-size: 26px;
	}
	.special_row {
		font-size: 26px;
	}
	.input_inline {
		font-size: 20px;
	}
	.input_1st_screen {
		font-size: 20px;
	}
	.period {
		font-size: 26px;
	}
	.button {
		font-size: 30px;
	}
	.input_1st_screen div {
		font-size: 24px;
	}
	.first_text {
		font-size: 26px;
	}
	input[type="checkbox"] {
	    width: 60px;
	    height: 30px;
	}
	input[type="checkbox"]:before {
	    width: 25px;
	    height: 25px;
	    top: -2px;
		border: 4px solid #177D85;
	}
	input:checked[type="checkbox"]:before {
		left: 30px;
		border: 4px solid #FFFFFF;
	}
	.input {
		font-size: 24px;
		padding: 10px 20px;
	}

}

@media screen and (max-width: 1070px) {
	.square1_numbers {
		font-size: 30px;
	}
	.square1_numbers sup{
		font-size: 22px;
	}
	.square2_numbers {
		font-size: 30px;
	}
	.square1_text {
		font-size: 24px;
	}
	.square2_text {
		font-size: 24px;
	}
}

@media screen and (max-width: 930px) {
	.name {
		font-size: 40px;
	}
	.first_text {
		font-size: 24px;
	}
	.complectation {
		font-size: 20px;
		padding-left: 60px;
		width: 600px;
	}
	.back {
		width: 640px;
		height: 526px;
		top: 25px;
		left: 45px;
		margin-bottom: 75px;
	}
	.simple_text {
		font-size: 20px;
	}
	.button {
		padding: 30px 40px;
	}
	.price {
		width: 50%;
		padding: 75px 25%;
	}
	.text_line {
		margin-top: 20px;
	}
}

@media screen and (max-width: 765px) {
	.button {
		font-size: 26px;
		padding: 30px 25px;
	}
	.special_row {
		font-size: 22px;
	}
	.row {
		font-size: 22px;
	}
	.period {
		font-size: 22px;
	}
	.input {
		font-size: 20px;
	}
	.price {
		width: 60%;
		padding: 75px 20%;
	} 
	.text_line {
		font-size: 24px;
	}
	.complectation {
		font-size: 18px;
		padding-left: 40px;
		width: 530px;
	}
	.back {
		width: 570px;
		height: 500px;
		top: 25px;
		left: 25px
	}
	.square1_text {
		font-size: 20px;
	}
	.square2_text {
		font-size: 20px;
	}
	.square1_numbers {
		font-size: 25px;
	}
	.square1_numbers sup{
		font-size: 16px;
	}
	.square2_numbers {
		font-size: 25px;
	}
	.name {
		font-size: 32px;
	}
	.first_text {
		font-size: 22px;
		width: 65%;
	}
	.input_1st_screen div {
	    font-size: 20px;
		width: 50%;
		padding: 15px 15px;
	}
	.input_1st_screen img {
	    max-width: 8%;
	}
	.zagolovok1 {
		font-size: 28px;
	}
	.input_1st_screen {
		width: 85%;
	}
	.first_screen {
		height: 600px;
	}
	.name {
		top: 80px;
	}
	.date {
		top: 170px;
	}
}
@media screen and (max-width: 640px) {
	.text_line {
		font-size: 24px;
	}
	.complectation {
		font-size: 16px;
		padding-left: 4%;
		padding-right: 2%;
		width: 76%;
	}
	.back {
		width: 82%;
		height: 450px;
	}
	.square1_text {
		font-size: 16px;
	}
	.square2_text {
		font-size: 16px;
	}
	.square1_numbers {
		font-size: 22px;
	}
	.square1_numbers sup{
		font-size: 15px;
	}
	.square2_numbers {
		font-size: 22px;
	}
	.simple_text {
		font-size: 18px;
	}
	.text_line {
		font-size: 20px;
	}
	.price {
		font-size: 24px;
	}
	.cost {
		padding: 20px 50px;
	}
	.button {
		font-size: 24px;
		width: 56%;
		margin-left: 22%;
	}
	input[type="checkbox"] {
	    width: 50px;
	    height: 25px;
	}
	input[type="checkbox"]:before {
	    width: 20px;
	    height: 20px;
	    top: -1px;
		border: 3px solid #177D85;
	}
	input:checked[type="checkbox"]:before {
		left: 25px;
		border: 3px solid #FFFFFF;
	}
	.special_row {
		font-size: 20px;
	}
	.row {
		font-size: 20px;
	}
	.period {
		font-size: 20px;
	}
	.input {
		font-size: 18px;
    	border: 3px solid #177D85;
	}
	.input_inline {
		font-size: 18px;
    	border: 3px solid #177D85;
	}
}
@media screen and (max-width: 560px) {
	.back {
		height: 470px;
	}
	.special_row {
		font-size: 18px;
	}
	.row {
		font-size: 18px;
	}
	.period {
		font-size: 18px;
	}
	.input {
		font-size: 16px;
	}
	.input_inline {
		font-size: 16px;
	}
	.button {
		font-size: 22px;
	}
	.input_1st_screen {
		width: 90%;
	}
	.zagolovok1 img {
      top: 0px;
}
}
@media screen and (max-width: 506px) {
	.back {
		height: 490px;
		margin-bottom: 45px;
	}
	.special_row {
		display: block;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 0px;
	}
	.row {
		display: block;
		padding-bottom: 0;
		padding-left: 10%;
		padding-right: 10%;
	}
	.period {
		font-size: 18px;
		margin-bottom: 10px;
		text-align: left;
		margin-left: 10%;
	}
	.input {
		margin-bottom: 20px;
	}
	.single_input_inline {
		margin-bottom: 20px;
		width: 100%;
	}
	.single_input {
		width: 100%;
	}
	.single_input p{
		margin-bottom: 10px;
	}
	.check_line {
		width: 80%;
		padding-left: 10%;
		padding-bottom: 30px;
	}
	.button {
		margin-top: 20px;
		margin-bottom: 60px;
		padding: 30px 15px;
	}
	.line {
		margin-left: 0;
		margin-right: 0;
	}
	.simple_text {
		font-size: 16px;
	}
	.zagolovok1 {
		font-size: 24px;
		padding-bottom: 30px;
	}
	.characteristics {
		display: block;
		width: 70%;
		margin-left: 15%;
		margin-bottom: 45px;
	}
	.square1 {
		width: 100%;
	}
	.square2 {
		width: 100%;
	}
	.main_frame {
		padding-top: 45px;
	}
	.price {
		padding: 45px 20%;
	}
	.square1_text {
		font-size: 24px;
	}
	.square2_text {
		font-size: 24px;
	}
	.square1_numbers {
		font-size: 48px;
	}
	.square1_numbers sup{
		font-size: 36px;
	}
	.square2_numbers {
		font-size: 48px;
	}
	.input_1st_screen {
		display: block;
		padding-left: 15%;
		width: 70%;
	}
	.input_1st_screen div{
		width: 70%;
	}
	.book {
		margin-left: 0;
		margin-top: 25px;
	}
	.name {
		width: 70%;
		top: 75px;
	}
	.date {
		top: 200px;
	}
	.first_text {
		width: 70%;
		margin-bottom: 70px;
	}
	.button {
		font-size: 16px;
	}
	.name {
		top: 50px;
	}
	.date {
		top: 100px;
	}
		
}
@media screen and (max-width: 420px) {
	.name {  
		font-size: 24px;
	}
	.date {
		top: 150px;
	}
	.first_text {
		font-size: 18px;
	}
	.square1_text {
		font-size: 20px;
	}
	.square2_text {
		font-size: 20px;
	}
	.square1_numbers {
		font-size: 36px;
	}
	.square1_numbers sup{
		font-size: 24px;
	}
	.square2_numbers {
		font-size: 36px;
	}
	.simple_text {
		font-size: 14px;
		margin-bottom: 25px;
	}
	.text_line {
		font-size: 16px;
		margin-top: 10px;
	}
	.price {
		font-size: 18px;
	}
	.cost {
		padding: 15px 35px;
	}
	.row {
		font-size: 16px;
	}
	.period {
		font-size: 16px;
	}
	.special_row {
		font-size: 16px;
	}
	.input {
		font-size: 14px;
	}
	.input_inline {
		font-size: 14px;
	}
}
@media screen and (max-width: 387px) {
	.back {
		height: 509px;
	}
	.zagolovok1 {
		font-size: 18px;
	}
	.input_1st_screen div {
		font-size: 18px;
	}
}
@media screen and (max-width: 372px) {
	.back {
		height: 528px;
	}
}
@media screen and (max-width: 357px) {
	.back {
		height: 547px;
	}
	.button {
		width: 70%;
		margin-left: 15%;
	}
}
@media screen and (max-width: 337px) {
	.back {
		height: 566px;
	}
}
@media screen and (max-width: 324px) {
	.back {
		height: 585px;
	}
}
